
.elementor-clearfix:after {
 content:"";
 display:block;
 clear:both;
 width:0;
 height:0
}

@media (max-width:767px) {
 head {
  content:"mobile"
 }
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 font:inherit;
 vertical-align:baseline;
 font-family:inherit;
 font-size:100%;
 font-style:inherit;
 font-weight:inherit
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display:block
}
html {
 font-size:62.5%;
 overflow-y:scroll;
 -webkit-text-size-adjust:100%;
 -ms-text-size-adjust:100%
}
*,
*:before,
*:after {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
 display:block
}

blockquote:before,
blockquote:after,
q:before,
q:after {
 content:'';
 content:none
}
blockquote,
q {
 quotes:none
}

a:hover,
a:active {
 outline:0
}


em {
 font-style:italic
}

html {
 -ms-overflow-x:hidden;
 overflow-x:hidden
}
body {
 font-family:"Open Sans",sans-serif;
 font-size:14px;
 line-height:1.8;
 color:#929292;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 overflow-wrap:break-word;
 word-wrap:break-word
}
body {
 background-color:#fff
}

body {
 margin:0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
 display:block
}

a {
 background-color:transparent
}
a:active,
a:hover {
 outline:0
}

b,
strong {
 font-weight:600
}

code,
kbd,
pre,
samp {
 font-family:monospace, monospace;
 font-size:1em
}


.wp-caption {
 max-width:100%;
 margin-bottom:24px
}

.wp-caption-text {
 font-size:14px;
 font-style:italic;
 color:#999
}

.aligncenter {
 text-align:center;
 clear:both
}

a {
 color:#333
}
a:hover {
 color:#13aff0
}

a,
a:hover,
a:focus {
 text-decoration:none;
 -webkit-transition:all 0.3s ease;
 -moz-transition:all 0.3s ease;
 -ms-transition:all 0.3s ease;
 -o-transition:all 0.3s ease;
 transition:all 0.3s ease
}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight:600;
 margin:0 0 20px;
 color:#333;
 line-height:1.4
}
h1 {
 font-size:23px
}
h2 {
 font-size:20px
}
h3 {
 font-size:18px
}

p {
 margin:0 0 20px
}

code,
kbd,
pre,
samp {
 font-size:16px
}

code {
 color:#2080ad
}
blockquote {
 font-style:italic;
 margin:20px 40px;
 padding-left:20px;
 border-left-width:3px;
 border-style:solid;
 border-color:#13aff0
}

q:before,
q:after,
blockquote:before,
blockquote:after {
 content:""
}

ul,
ol {
 margin:15px 0 15px 20px
}

li ul,
li ol {
 margin:0 0 0 25px
}

@media only screen and (max-width: 480px) {
 blockquote {
  margin:20px 0
 }
}




.link3 { color: #838383; text-decoration: underline !important;}

.link3:hover { color: #000000; text-decoration: underline;}

.link2 { color: #212121; }

.link2:hover { color: #838383;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-41647dd8 */.bq {font-style: normal; border-left: 4px solid #ccc;}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-1da9dc60 */.bq {font-style: normal; border-left: 4px solid #ccc;}
.box {
  border: 1px solid #C5C6C8;
  background-color:   #F8F9FB;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin: auto;
  width: 65%;
  min-width: 300px;
  margin-bottom: 20px;
} 

.linkx { color: #838383; }

.linkx:hover { color: #000000;}
code {background-color: lightgray; color: black;}/* End custom CSS */

.elementor-3476 .elementor-element.elementor-element-7cddc062 > .elementor-container{max-width:881px;}.elementor-3476 .elementor-element.elementor-element-7cddc062{background-image:url("https://massimmersionapproach.com/wp-content/uploads/2018/09/IMG_1907.jpg");background-size:cover;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 0px 30px 0px;}.elementor-3476 .elementor-element.elementor-element-7cddc062 > .elementor-background-overlay{background-color:#204f70;opacity:0.6;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3476 .elementor-element.elementor-element-7cddc062, .elementor-3476 .elementor-element.elementor-element-7cddc062 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-3476 .elementor-element.elementor-element-5691b824 > .elementor-element-populated{text-align:center;}.elementor-3476 .elementor-element.elementor-element-57c955b3.elementor-widget-heading .elementor-heading-title{color:#ffffff;}.elementor-3476 .elementor-element.elementor-element-57c955b3 .elementor-heading-title{font-family:"Permanent Marker", Sans-serif;font-size:55px;letter-spacing:5.3px;}.elementor-3476 .elementor-element.elementor-element-57c955b3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3476 .elementor-element.elementor-element-1da9dc60{margin-top:0px;margin-bottom:0px;padding:20px 0px 0px 0px;}.elementor-3476 .elementor-element.elementor-element-2967893c > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-3476 .elementor-element.elementor-element-35efb30e .elementor-text-editor{text-align:center;}.elementor-3476 .elementor-element.elementor-element-35efb30e{color:#212121;font-size:17px;}.elementor-3476 .elementor-element.elementor-element-35efb30e > .elementor-widget-container{margin:-5px 000px 25px 0px;}.elementor-3476 .elementor-element.elementor-element-7aedc2f9{text-align:center;}.elementor-3476 .elementor-element.elementor-element-7aedc2f9.elementor-widget-heading .elementor-heading-title{color:#212121;}.elementor-3476 .elementor-element.elementor-element-7aedc2f9 .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:26px;font-weight:400;}.elementor-3476 .elementor-element.elementor-element-67882536 > .elementor-container{max-width:800px;}.elementor-3476 .elementor-element.elementor-element-67882536{margin-top:-10px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-3476 .elementor-element.elementor-element-41647dd8 .elementor-text-editor{text-align:left;}.elementor-3476 .elementor-element.elementor-element-41647dd8{color:#212121;font-family:"Open Sans", Sans-serif;font-size:17px;}@media(min-width:1025px){.elementor-3476 .elementor-element.elementor-element-7cddc062{background-attachment:fixed;}}@media(max-width:1024px){.elementor-3476 .elementor-element.elementor-element-5691b824 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 0px 5px 0px;}.elementor-3476 .elementor-element.elementor-element-57c955b3 .elementor-heading-title{font-size:40px;}}@media(max-width:767px){.elementor-3476 .elementor-element.elementor-element-5691b824 > .elementor-element-populated{margin:-20px 0px -12px 0px;padding:0px 0px 0px 0px;}.elementor-3476 .elementor-element.elementor-element-57c955b3 .elementor-heading-title{font-size:27px;}.elementor-3476 .elementor-element.elementor-element-35efb30e .elementor-text-editor{text-align:center;}.elementor-3476 .elementor-element.elementor-element-35efb30e > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 0px;}.elementor-3476 .elementor-element.elementor-element-19b00e03{width:100%;}.elementor-3476 .elementor-element.elementor-element-41647dd8{font-size:16px;}}/* Start custom CSS for section, class: .elementor-element-7cddc062 */.elementor-3476 .elementor-element.elementor-element-7cddc062 {
    text-shadow: 2px 2px black;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-35efb30e */.link { color: #838383; }

.link:hover { color: #000000;}

.link3 { color: #838383; text-decoration: underline !important;}



.link2:hover { color: #838383;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-41647dd8 */.bq {font-style: normal; border-left: 4px solid #ccc;}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-1da9dc60 */.bq {font-style: normal; border-left: 4px solid #ccc;}
.box {
  border: 1px solid #C5C6C8;
  background-color:   #F8F9FB;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin: auto;
  width: 65%;
  min-width: 300px;
  margin-bottom: 20px;
} 

.linkx { color: #838383; }

.linkx:hover { color: #000000;}
code {background-color: lightgray; color: black;}/* End custom CSS */